# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# React/Vite
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
coverage/
*.coverage
htmlcov/

# Misc
*.swp
*.bak
